.tabsCont {
   
    position: absolute;
    bottom: 0;
  }
  
#myTab
{
    
     padding-top: 6px;
}

.mapclass { height: 97vh }



#postMap
{
  height: 30vh;
}

.geog {
  border-bottom: none!important;
  box-shadow: none!important;
  font-weight: bold;
  color: indigo;
}