.tabsCont {
   
    position: absolute;
    bottom: 0;
  }
  
#myTab
{
    
     padding-top: 6px;
}

.mapclass { height: 97vh }



#postMap
{
  height: 30vh;
}

.geog {
  border-bottom: none!important;
  box-shadow: none!important;
  font-weight: bold;
  color: indigo;
}


.profileContainer{
  height: 58vh; 
    width: 100%; 
    background: linear-gradient(135deg, rgba(26,35,126,1) 0%, rgba(87,99,230,1) 100%); 

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) {
  .profileContainer{
    height: 82vh !important; 
      width: 100%; 
      background: linear-gradient(135deg, rgba(26,35,126,1) 0%, rgba(87,99,230,1) 100%); 
  
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */


@media only screen and (min-width: 375px) {
  .profileContainer{
    height: 65vh  !important;  
      width: 100%; 
      background: linear-gradient(135deg, rgba(26,35,126,1) 0%, rgba(87,99,230,1) 100%); 
  
  }

}
@media only screen and (min-width: 411px) {
  .profileContainer{
    height: 58vh  !important;  
      width: 100%; 
      background: linear-gradient(135deg, rgba(26,35,126,1) 0%, rgba(87,99,230,1) 100%); 
  
  }

}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}




#centerrow 
{
  padding-top: 0x;
}