.profileBanner {
    height: 400px;
    width: 100%;
    background: linear-gradient(135deg, rgba(10,4,60,1) 0%, rgba(9,9,121,1) 32%, rgba(3,80,111,1) 100%);
}

.imgStyle {
    height: 200px;
    width: auto;
  };